<!DOCTYPE html>
   
<html lang="uk">
   <!-- Начало HTML-документу з вказанням мови як українську -->
    <head>
        <!-- Секція метаданих документа -->
        <meta charset="UTF-8">
        <!-- Визначення кодування символів у документі -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Конфігурація для адаптивного відображення на мобільних пристроях -->
        <link rel="stylesheet" href="/static/style.css">
        <!-- З'єднання зовнішнього CSS-файлу для стилістичного оформлення / добавляемо бо він указує що шляз поченається с корневого шляху -->
        <script src="/static/script.js" defer></script>
        <!-- З'єднання зовнішнього JavaScript-файлу з затримкою виконання / добавляемо бо він указує що шляз поченається с корневого шляху-->
        <title>Document</title>
        <!-- Назва сторінки в браузерному окні -->
    </head>
    <!-- Кінце секції head -->
    <body>
        <!-- Секція основного контенту документа -->
        <h1>Hello World!</h1>
        <!-- Заголовок першого рівня з текстом "Привіт світ!" -->
        <a href="/products/">Перейти на продукти</a>
        <!-- Посилання на сторінку продуктів -->
    </body>
    <!-- Кінце секції body -->
</html>
<!-- Кінец HTML-документу -->